.button{
    position: fixed;
    width: 50%;
    bottom: -4px;
    min-height: 0.4in;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.general {
    left: 2px;
    background: rgb(13, 155, 46);
}

.general:hover {
    background: rgb(28, 184, 65);
}

.emergency-button {
    right: 2px;
    background: rgb(196, 38, 38);
}

.emergency-button:hover {
    background: rgb(202, 60, 60);
}