.inactive {
    background-color: #777777;
}

li {
    list-style-type: none; 
}

div.card {
    display: block;
    position: relative;
    left: 25%;
    right: 25%;
    margin: auto;
    min-height: 200px;
    width: 100%;
}

div > button {
    display: block;
    position: relative;
    width: 100%;
}