.lost {
    background-color: #16B100;
    border-radius: 10px;
    font-family: arial;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-shadow: 0 0 .5px black;
}

.lost .title {
    position: relative;
    top: -20px;
    font-size: 60px;
    text-align: center;
    color: white;
}

.lost .text {
    position: relative;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    top: -70px;
    color: white;
}

.lost .location{
    position: relative;
    font-size: 20px;
    text-align: left;
    left: 10px;
    color: white;
    top: -120px;
    padding: 20px;
}

.lost .date{
    position: relative;
    font-size: 20px;
    text-align: left;
    left: 10px;
    color: white;
    padding: 20px;
    top: -190px;
    margin-bottom: -160px;
    max-width: 230px;

}

.lost p.author{
    position: relative;
    font-size: 20px;
    text-align: left;
    left: 10px;
    color: white;
    padding: 20px;
    top: -80px;
    margin-bottom: -80px;
    max-width: 230px;

}
